{
    "extends": [
        "sanity",
        "prettier",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "plugins": [
        "jest",
        "react"
    ],
    "env": {
        "node": true,
        "browser": true,
        "jest": true,
        "jest/globals": true
        
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "strict": 0,
        "no-return-assign": 0,
        "no-labels": [
            "error",
            {
                "allowLoop": true
            }
        ],
        "max-depth": [
            "error",
            4
        ]
    }
}