*{
    background: red;
}

.possible-moviments{
    width: 40px;
    height: 40px;
    background-color: #208530;
    border-radius: 50%;
    position: absolute;
    left: 35%;
    top: 35%;
    opacity: .3;
}